aws_region           = "ap-south-1"
project_name         = "gcs-erp"
environment          = "production"
container_image      = "123456789012.dkr.ecr.ap-south-1.amazonaws.com/gcs-erp-production-api:replace-me"
allowed_hosts        = "api.example.com,localhost"
cors_allowed_origins = "https://example.com"
frontend_url         = "https://example.com"
db_instance_class    = "db.t4g.small"
redis_node_type      = "cache.t4g.micro"